@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <span id="rolePlaceholder"></span></h1>
</div>

<script>
    var roleFromLocalStorage = "guest";
    if (window.localStorage.getItem('RoleName') !== null) {
        roleFromLocalStorage = window.localStorage.getItem('RoleName');
    }
    document.getElementById('rolePlaceholder').innerText = roleFromLocalStorage;
</script>